
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.work-time {
  width: 70px;
  display: inline-block;
  margin-left: 15px;
}
.vdp-datepicker input {
  border: none;
  width: 100%;
}
